Repository SteamDatabase/FileDetectionRuleSets, changes with the labels that .github/labeler.yml gives for each.
All labels: Type: Engine, Type: SDK

.github/labeler.yml:

"Type: Engine":
  - '**/Engine.*'

"Type: SDK":
  - '**/SDK.*'

Added Cobra Engine Regex
  rules.ini
Labels: none

Fixed issue with Cobra regex
  rules.ini
Labels: none

Added Cobra non matching tests
  tests/types/_NonMatchingTests.txt
Labels: none

Added Cobra tests
  tests/types/Engine.Cobra.txt
Labels: Type: Engine

Add Engine - Flexi
  descriptions/Engine.Flexi.md
  rules.ini
  tests/types/Engine.Flexi.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Fix - "FNA" should be after "Flexi"
  rules.ini
Labels: none

Update Engine.Flexi.md
  descriptions/Engine.Flexi.md
Labels: Type: Engine

Add Engine - Flexi (#75)
  descriptions/Engine.Flexi.md
  rules.ini
  tests/types/Engine.Flexi.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Solar2D engine
  descriptions/Engine.Solar2D.md
  rules.ini
  tests/types/Engine.Solar2D.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Updated Solar2D engine description
  descriptions/Engine.Solar2D.md
Labels: Type: Engine

Add Solar2D engine (#77)
  descriptions/Engine.Solar2D.md
  rules.ini
  tests/types/Engine.Solar2D.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Add Virtools engine
  descriptions/Engine.Virtools.md
  rules.ini
  tests/types/Engine.Virtools.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

add HashLink engine
  descriptions/Engine.HashLink.md
  rules.ini
  tests/types/Engine.HashLink.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Virtools engine (#84)
  descriptions/Engine.Virtools.md
  rules.ini
  tests/types/Engine.Virtools.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

add HashLink engine (#85)
  descriptions/Engine.HashLink.md
  rules.ini
  tests/types/Engine.HashLink.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Bink Video as SDK
  descriptions/SDK.Bink_Video.md
  rules.ini
  tests/types/SDK.Bink_Video.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Cocos2d engine
  descriptions/Engine.Cocos2d.md
  rules.ini
  tests/types/Engine.Cocos2d.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Cocos2d engine (#87)
  descriptions/Engine.Cocos2d.md
  rules.ini
  tests/types/Engine.Cocos2d.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Bink Video as SDK (#69)
  descriptions/SDK.Bink_Video.md
  rules.ini
  tests/types/SDK.Bink_Video.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Telltale Tool engine
  descriptions/Engine.TelltaleTool.md
  rules.ini
  tests/types/Engine.TelltaleTool.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Telltale Tool engine (#90)
  descriptions/Engine.TelltaleTool.md
  rules.ini
  tests/types/Engine.TelltaleTool.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Fixed misspelling of Frostbite
  descriptions/Engine.Frostbite.md
Labels: Type: Engine

Fixed misspelling of Frostbite (#91)
  descriptions/Engine.Frostbite.md
Labels: Type: Engine

Catch more love2d
  rules.ini
  tests/types/Engine.Bitsquid.txt
  tests/types/Engine.Cocos2d.txt
  tests/types/Engine.Love2D.txt
  tests/types/Engine.OGRE.txt
  tests/types/Engine.TelltaleTool.txt
  tests/types/Engine.Virtools.txt
  tests/types/SDK.Bink_Video.txt
  tests/types/SDK.OpenVR.txt
Labels: Type: Engine, Type: SDK

Add Wwise as SDK
  descriptions/SDK.Wwise.md
  rules.ini
  tests/types/SDK.Wwise.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Missed that one
  rules.ini
  tests/types/SDK.Wwise.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

remove lib / so
  rules.ini
  tests/types/SDK.Wwise.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Wwise as SDK (#94)
  descriptions/SDK.Wwise.md
  rules.ini
  tests/types/SDK.Wwise.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add OpenAL as SDK
  descriptions/SDK.OpenAL.md
  rules.ini
  tests/types/SDK.OpenAL.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

High Definition Render Pipeline
  descriptions/Engine.UnityHighDefinitionRenderPipeline.md
  rules.ini
  tests/types/Engine.UnityHDRP.txt
Labels: Type: Engine

fix description error
  descriptions/Engine.UnityHDRP.md
Labels: Type: Engine

fix duplicate define error
  tests/types/Engine.UnityHDRP.txt
Labels: Type: Engine

second attempt at fixing duplicate define error
  tests/types/Engine.UnityHDRP.txt
Labels: Type: Engine

change to SDK
  tests/types/SDK.UnityHDRP.txt
Labels: Type: SDK

change description to sdk
  descriptions/SDK.UnityHDRP.md
Labels: Type: SDK

rule: engine to SDK
  rules.ini
Labels: none

Add unity's High Definition Render Pipeline as SDK (#96)
  descriptions/SDK.UnityHDRP.md
  rules.ini
  tests/types/SDK.UnityHDRP.txt
Labels: Type: SDK

Add OpenAL as SDK (#95)
  descriptions/SDK.OpenAL.md
  rules.ini
  tests/types/SDK.OpenAL.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Kex engine
  descriptions/Engine.Kex.md
  rules.ini
  tests/types/Engine.Kex.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine
