Repository SteamDatabase/FileDetectionRuleSets, changes with the labels that .github/labeler.yml gives for each.
All labels: Type: Engine, Type: SDK

.github/labeler.yml:

"Type: Engine":
  - '**/Engine.*'

"Type: SDK":
  - '**/SDK.*'

Add Kex engine (#97)
  descriptions/Engine.Kex.md
  rules.ini
  tests/types/Engine.Kex.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Torque as engine
  descriptions/Engine.Torque.md
  rules.ini
  tests/types/Engine.Torque.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Rename UPBGE to BlenderGameEngine
  descriptions/Engine.BlenderGameEngine.md
  descriptions/Engine.UPBGE.md
  rules.ini
  tests/types/Engine.BlenderGameEngine.txt
Labels: Type: Engine

Add Torque as engine (#98)
  descriptions/Engine.Torque.md
  rules.ini
  tests/types/Engine.Torque.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

"SteamDB"
  LICENSE
  README.md
Labels: none

Rename UPBGE to BlenderGameEngine (#99)
  descriptions/Engine.BlenderGameEngine.md
  descriptions/Engine.UPBGE.md
  rules.ini
  tests/types/Engine.BlenderGameEngine.txt
Labels: Type: Engine

Adds Universal Render Pipeline detection
  descriptions/SDK.UnityURP.md
  rules.ini
  tests/types/SDK.UnityURP.txt
Labels: Type: SDK

add urp
  descriptions/SDK.UnityURP.md
  rules.ini
  tests/types/SDK.UnityURP.txt
Labels: Type: SDK

adding unitys URP as SDK 2
  descriptions/SDK.UnityURP.md
  rules.ini
  tests/types/SDK.UnityURP.txt
Labels: Type: SDK

fixing rules test 1
  rules.ini
Labels: none

fix rules 2
  rules.ini
Labels: none

fix rules 3
  rules.ini
Labels: none

fix rules 4
  rules.ini
Labels: none

update description
  descriptions/SDK.UnityURP.md
Labels: Type: SDK

fix markdown
  descriptions/SDK.UnityURP.md
Labels: Type: SDK

Removed a particular game addition to the list, meant to circumvent il2cpp
  rules.ini
  tests/types/SDK.UnityURP.txt
Labels: Type: SDK

added shaderlibrary detection back in
  rules.ini
  tests/types/SDK.UnityURP.txt
Labels: Type: SDK

removed all rules except 1 (others are not needed)
  rules.ini
  tests/types/SDK.UnityURP.txt
Labels: Type: SDK

Adding Unity's Universal Render Pipeline as SDK (#101)
  descriptions/SDK.UnityURP.md
  rules.ini
  tests/types/SDK.UnityURP.txt
Labels: Type: SDK

Kex engine - remove false positives
  rules.ini
  tests/types/_NonMatchingTests.txt
Labels: none

Initial commit, add equ8
  descriptions/AntiCheat.EQU8.md
  rules.ini
  tests/types/AntiCheat.EQU8.txt
  tests/types/_NonMatchingTests.txt
Labels: none

Fix for test failure
  rules.ini
  tests/types/AntiCheat.EQU8.txt
  tests/types/_NonMatchingTests.txt
Labels: none

Add detection vectors for EQU8 Anti-Cheat (#103)
  descriptions/AntiCheat.EQU8.md
  rules.ini
  tests/types/AntiCheat.EQU8.txt
  tests/types/_NonMatchingTests.txt
Labels: none

Add XIGNCODE3
  descriptions/AntiCheat.XIGNCODE3.md
  rules.ini
  tests/types/AntiCheat.EQU8.txt
  tests/types/AntiCheat.XIGNCODE3.txt
  tests/types/Engine.Kex.txt
  tests/types/Engine.Torque.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add support for detecting Clausewitz engine
  descriptions/Engine.Clausewitz.md
  rules.ini
  tests/types/Engine.Clausewitz.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add support for detecting Clausewitz engine (#104)
  descriptions/Engine.Clausewitz.md
  rules.ini
  tests/types/Engine.Clausewitz.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add detection for JVM
  descriptions/SDK.JVM.md
  rules.ini
  tests/types/SDK.JVM.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add detection for JVM (#105)
  descriptions/SDK.JVM.md
  rules.ini
  tests/types/SDK.JVM.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Precise that it does networking
  descriptions/SDK.Photon.md
Labels: Type: SDK

add a link
  descriptions/SDK.Photon.md
Labels: Type: SDK

Add Photon Sdk
  descriptions/SDK.Photon.md
  rules.ini
  tests/types/SDK.Photon.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Photon as Sdk (#93)
  descriptions/SDK.Photon.md
  rules.ini
  tests/types/SDK.Photon.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Steamworks.NET as SDK
  descriptions/SDK.SteamworksNET.md
  rules.ini
Labels: Type: SDK

Add test for Steamworks.NET
  tests/types/SDK.SteamworksNET.txt
Labels: Type: SDK

Add non-matching tests for Steamworks.NET
  tests/types/_NonMatchingTests.txt
Labels: none

Add Steamworks.NET as SDK (#107)
  descriptions/SDK.SteamworksNET.md
  rules.ini
  tests/types/SDK.SteamworksNET.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

add Solarus engine detection
  descriptions/Engine.Solarus.md
  rules.ini
  tests/types/Engine.Solarus.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Fix missing link for RAGE
  descriptions/Engine.RAGE.md
Labels: Type: Engine

Fix missing link for RAGE (#109)
  descriptions/Engine.RAGE.md
Labels: Type: Engine

Spaces
  tests/FileDetector.php
Labels: none
