Repository SteamDatabase/FileDetectionRuleSets, changes with the labels that .github/labeler.yml gives for each.
All labels: Type: Engine, Type: SDK, Type: Anti-Cheat, Type: Launcher, Type: Container

.github/labeler.yml:

"Type: Engine":
- changed-files:
  - any-glob-to-any-file: '**/Engine.*'

"Type: SDK":
- changed-files:
  - any-glob-to-any-file: '**/SDK.*'

"Type: Anti-Cheat":
- changed-files:
  - any-glob-to-any-file: '**/AntiCheat.*'

"Type: Launcher":
- changed-files:
  - any-glob-to-any-file: '**/Launcher.*'

"Type: Container":
- changed-files:
  - any-glob-to-any-file: '**/Container.*'

Update _NonMatchingTests.txt
  tests/types/_NonMatchingTests.txt
Labels: none

add new line
  tests/GenerateTestStrings.php
Labels: none

Add description for ENFUSION Engine
  descriptions/Engine.ENFUSION
Labels: Type: Engine

Add rules for AntiCheat.AnyBrain
  rules.ini
  tests/types/AntiCheat.AnyBrain.txt
Labels: Type: Anti-Cheat

Add rules for AntiCheat.AnyBrain (#920)
  rules.ini
  tests/types/AntiCheat.AnyBrain.txt
Labels: Type: Anti-Cheat

Add GIANTS Engine
  descriptions/Engine.GIANTS_Engine.md
  rules.ini
  tests/types/Engine.GIANTS_Engine.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add GIANTS Engine (#918)
  descriptions/Engine.GIANTS_Engine.md
  rules.ini
  tests/types/Engine.GIANTS_Engine.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Unity Netcode for Entities SDK
  descriptions/SDK.UnityNetcodeEntities.md
  rules.ini
  tests/types/SDK.UnityNetcodeEntities.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add GodotSharp to Godot (#904)
  rules.ini
  tests/types/Engine.Godot.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Remove unbounded dot regex
  rules.ini
  tests/Test.php
  tests/types/Engine.GameGuru.txt
  tests/types/Evidence.SND_OGG.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Update Engine.GameGuru.txt
  tests/types/Engine.GameGuru.txt
Labels: Type: Engine

Add Nakama SDK
  descriptions/SDK.Nakama.md
  rules.ini
  tests/types/SDK.Nakama.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Squish Nakama regex into one
  rules.ini
Labels: none

Fix syntax
  rules.ini
Labels: none

Generate missing test cases
  tests/types/SDK.Nakama.txt
Labels: Type: SDK

Add Nakama SDK (#923)
  descriptions/SDK.Nakama.md
  rules.ini
  tests/types/SDK.Nakama.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Optimize
  rules.ini
  tests/FileDetector.php
  tests/GenerateTestStrings.php
  tests/Test.php
  tests/types/SDK.Allegro.txt
  tests/types/SDK.cURL.txt
Labels: Type: SDK

Update SDK.Box2D.txt
  tests/types/SDK.Box2D.txt
Labels: Type: SDK

Update AMD Features in rules.ini
  rules.ini
Labels: none

Update AMD Feature descriptions
  descriptions/SDK.AMD_FSR_FrameGen.md
  descriptions/SDK.AMD_FSR_RayRegen.md
  descriptions/SDK.AMD_FSR_SDK.md
  descriptions/SDK.AMD_FSR_Upscaling.md
  descriptions/SDK.AMD_FidelityFX.md
  descriptions/SDK.AMD_FidelityFX_FSR2.md
  descriptions/SDK.AMD_FidelityFX_SDK.md
Labels: Type: SDK

Add Non Matching Tests
  tests/types/_NonMatchingTests.txt
Labels: none

Remove tests for old SDK.AMD_FidelityFX
  tests/types/SDK.AMD_FidelityFX.txt
Labels: Type: SDK

Add tests for new AMD Features
  tests/types/SDK.AMD_FSR_FrameGen.txt
  tests/types/SDK.AMD_FSR_RayRegen.txt
  tests/types/SDK.AMD_FSR_SDK.txt
  tests/types/SDK.AMD_FSR_Upscaling.txt
  tests/types/SDK.AMD_FidelityFX_FSR2.txt
  tests/types/SDK.AMD_FidelityFX_SDK.txt
Labels: Type: SDK

Remove duplicate regex
  rules.ini
  tests/types/SDK.AMD_FSR_SDK.txt
  tests/types/SDK.AMD_FidelityFX_SDK.txt
Labels: Type: SDK

Update descriptions/SDK.AMD_FSR_Upscaling.md
  descriptions/SDK.AMD_FSR_Upscaling.md
Labels: Type: SDK

Update descriptions/SDK.AMD_FidelityFX_FSR2.md
  descriptions/SDK.AMD_FidelityFX_FSR2.md
Labels: Type: SDK

Update descriptions/SDK.AMD_FSR_SDK.md
  descriptions/SDK.AMD_FSR_SDK.md
Labels: Type: SDK

Update descriptions/SDK.AMD_FSR_FrameGen.md
  descriptions/SDK.AMD_FSR_FrameGen.md
Labels: Type: SDK

Add AMD features & update older AMD rules. (#925)
  descriptions/SDK.AMD_FSR_FrameGen.md
  descriptions/SDK.AMD_FSR_RayRegen.md
  descriptions/SDK.AMD_FSR_SDK.md
  descriptions/SDK.AMD_FSR_Upscaling.md
  descriptions/SDK.AMD_FidelityFX.md
  descriptions/SDK.AMD_FidelityFX_FSR2.md
  descriptions/SDK.AMD_FidelityFX_SDK.md
  rules.ini
  tests/types/SDK.AMD_FSR_FrameGen.txt
  tests/types/SDK.AMD_FSR_RayRegen.txt
  tests/types/SDK.AMD_FSR_SDK.txt
  tests/types/SDK.AMD_FSR_Upscaling.txt
  tests/types/SDK.AMD_FidelityFX.txt
  tests/types/SDK.AMD_FidelityFX_FSR2.txt
  tests/types/SDK.AMD_FidelityFX_SDK.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add support for detecting usage of Mono or .NET
  descriptions/SDK.Mono.md
  descriptions/SDK.dotnet.md
  rules.ini
  tests/types/SDK.Mono.txt
  tests/types/SDK.dotnet.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Ran tests/GenerateTestStrings
  tests/types/SDK.Mono.txt
  tests/types/SDK.dotnet.txt
Labels: Type: SDK

Take suggestion and update
  rules.ini
  tests/types/SDK.dotnet.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Take regex suggestion
  rules.ini
Labels: none

Add more strings
  tests/types/SDK.Mono.txt
  tests/types/SDK.dotnet.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add support for detecting usage of Mono or .NET (#926)
  descriptions/SDK.Mono.md
  descriptions/SDK.dotnet.md
  rules.ini
  tests/types/SDK.Mono.txt
  tests/types/SDK.dotnet.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

mfuscator
  descriptions/AntiCheat.Mfuscator.md
  rules.ini
  tests/types/AntiCheat.Mfuscator.txt
Labels: Type: Anti-Cheat
