Repository SteamDatabase/FileDetectionRuleSets, changes with the labels that .github/labeler.yml gives for each.
All labels: Type: Engine, Type: SDK

Add some non-matching tests
  tests/types/_NonMatchingTests.txt
Labels: none

Adds detection for games utilising the burst compiler.
  descriptions/SDK.UnityBurst.md
  rules.ini
  tests/types/SDK.UnityBurst.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Format
  tests/FileDetector.php
Labels: none

Remove duplicate name
  descriptions/SDK.UnityBurst.md
  descriptions/SDK.UnityEntities.md
  descriptions/SDK.UnityHybridRenderer.md
Labels: Type: SDK

Add non windows versions of the library and change the url to always point to latest.
  descriptions/SDK.UnityBurst.md
  rules.ini
  tests/types/SDK.UnityBurst.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Update Entites and URP to point to latest manuals automatically.
  descriptions/SDK.UnityEntities.md
  descriptions/SDK.UnityURP.md
Labels: Type: SDK

Update detection for Cocos engine
  descriptions/Engine.Cocos.md
  descriptions/Engine.Cocos2d.md
  rules.ini
  tests/types/Engine.Cocos.txt
  tests/types/Engine.Cocos2d.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Intel XeSS
  descriptions/SDK.Intel_XeSS.md
  rules.ini
  tests/types/SDK.Intel_XeSS.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

look for the specifics dlls
  rules.ini
Labels: none

this is the full filename
  rules.ini
Labels: none

Add Intel Xe Super Sampling (#141)
  descriptions/SDK.Intel_XeSS.md
  rules.ini
  tests/types/SDK.Intel_XeSS.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add rules for AMD FSR2 (#135)
  descriptions/SDK.AMD_FSR2.md
  rules.ini
  tests/types/SDK.AMD_FSR2.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Regenerate test files
  tests/types/Engine.Clausewitz.txt
  tests/types/SDK.Intel_XeSS.txt
  tests/types/SDK.JVM.txt
  tests/types/SDK.OpenXR.txt
  tests/types/SDK.SteamworksNET.txt
  tests/types/SDK.UnityBurst.txt
  tests/types/SDK.UnityEntities.txt
  tests/types/SDK.UnityHybridRenderer.txt
Labels: Type: Engine, Type: SDK

Add Visual Novel Maker
  descriptions/Engine.VisualNovelMaker.md
  rules.ini
  tests/types/Engine.VisualNovelMaker.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add NScripter
  descriptions/Engine.NScripter.md
  rules.ini
  tests/types/Engine.NScripter.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Update VNMaker ruleset
  rules.ini
  tests/types/Engine.VisualNovelMaker.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Visual Novel Maker (#142)
  descriptions/Engine.VisualNovelMaker.md
  rules.ini
  tests/types/Engine.VisualNovelMaker.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Reduce amount of NScripter rules
  rules.ini
  tests/types/Engine.NScripter.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add NScripter (#143)
  descriptions/Engine.NScripter.md
  rules.ini
  tests/types/Engine.NScripter.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Greenworks
  descriptions/SDK.Greenworks.md
  rules.ini
  tests/types/SDK.Greenworks.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add path matcher
  rules.ini
  tests/types/_NonMatchingTests.txt
Labels: none

Add ClickTeam Fusion
  descriptions/Engine.ClickTeamFusion.md
  rules.ini
  tests/types/Engine.ClickTeamFusion.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Greenworks (#145)
  descriptions/SDK.Greenworks.md
  rules.ini
  tests/types/SDK.Greenworks.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Fix Fusion regex
  rules.ini
  tests/types/Engine.ClickTeamFusion.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add ClickTeam Fusion (#146)
  descriptions/Engine.ClickTeamFusion.md
  rules.ini
  tests/types/Engine.ClickTeamFusion.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add GameGuru
  descriptions/Engine.GameGuru.md
  rules.ini
  tests/types/Engine.GameGuru.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add GameGuru (#144)
  descriptions/Engine.GameGuru.md
  rules.ini
  tests/types/Engine.GameGuru.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Fix KiriKiri detection
  rules.ini
  tests/types/Engine.KiriKiri.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Allow data.xp3 to reside in a folder
  rules.ini
  tests/types/Engine.KiriKiri.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Fix KiriKiri detection (#147)
  rules.ini
  tests/types/Engine.KiriKiri.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Fix broken link in README
  README.md
Labels: none

Fix broken link in README (#148)
  README.md
Labels: none

Create dependabot.yml
  .github/dependabot.yml
Labels: none

Update rules for cocos engine
  rules.ini
  tests/types/_NonMatchingTests.txt
Labels: none

Reduce regex rules for Cocos engine
  rules.ini
  tests/types/Engine.Cocos.txt
Labels: Type: Engine

Add more test case for Cocos Engine
  tests/types/Engine.Cocos.txt
Labels: Type: Engine

Update regex rules for Cocos Engine
  rules.ini
  tests/types/Engine.Cocos.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Update regex rules with one regex
  rules.ini
Labels: none

Update detection for Cocos engine (#140)
  descriptions/Engine.Cocos.md
  descriptions/Engine.Cocos2d.md
  rules.ini
  tests/types/Engine.Cocos.txt
  tests/types/Engine.Cocos2d.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Regenerate test strings
  tests/types/Engine.ClickTeamFusion.txt
  tests/types/Engine.Cocos.txt
  tests/types/Engine.GameGuru.txt
  tests/types/SDK.Greenworks.txt
Labels: Type: Engine, Type: SDK

.github/labeler.yml:

"Type: Engine":
  - '**/Engine.*'

"Type: SDK":
  - '**/SDK.*'
