Repository SteamDatabase/FileDetectionRuleSets, changes with the labels that .github/labeler.yml gives for each.
All labels: Type: Engine, Type: SDK, Type: Anti-Cheat, Type: Launcher, Type: Container

switch to ace-safe.dll
  rules.ini
  tests/types/AntiCheat.AntiCheatExpert.txt
Labels: Type: Anti-Cheat

Simplify MUS_OGG regex
  rules.ini
Labels: none

Rewrite regex string generator in php
  CONTRIBUTING.md
  tests/GenerateTestStrings.php
  tests/randexp/index.js
  tests/randexp/node_modules/.package-lock.json
  tests/randexp/node_modules/drange/lib/index.js
  tests/randexp/node_modules/drange/package.json
  tests/randexp/node_modules/randexp/lib/randexp.js
  tests/randexp/node_modules/randexp/package.json
  tests/randexp/node_modules/ret/lib/index.js
  tests/randexp/node_modules/ret/lib/positions.js
  tests/randexp/node_modules/ret/lib/sets.js
  tests/randexp/node_modules/ret/lib/types.js
  tests/randexp/node_modules/ret/lib/util.js
  tests/randexp/node_modules/ret/package.json
  tests/randexp/package.json
Labels: none

Run generate strings ci
  .github/workflows/test.yml
Labels: none

Update devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

Output notices in ci for updated strings
  tests/GenerateTestStrings.php
Labels: none

add EOS setup version
  rules.ini
  tests/types/AntiCheat.EasyAntiCheat.txt
Labels: Type: Anti-Cheat

add EasyAntiCheat_x64.dll
  rules.ini
  tests/types/AntiCheat.EasyAntiCheat.txt
Labels: Type: Anti-Cheat

add EasyAntiCheat.dll
  rules.ini
  tests/types/AntiCheat.EasyAntiCheat.txt
Labels: Type: Anti-Cheat

add eac_server64.dll
  rules.ini
  tests/types/AntiCheat.EasyAntiCheat.txt
Labels: Type: Anti-Cheat

EAC switch to look for a specific string
  rules.ini
  tests/types/AntiCheat.EasyAntiCheat.txt
Labels: Type: Anti-Cheat

Update EAC to look for specific files (#880)
  rules.ini
  tests/types/AntiCheat.EasyAntiCheat.txt
Labels: Type: Anti-Cheat

Add new variant of Black Cipher anti-cheat.
  rules.ini
Labels: none

Update old variant of Nexon Game Security as requested.
  rules.ini
  tests/types/AntiCheat.BlackCipher.txt
Labels: Type: Anti-Cheat

Add new variant of Black Cipher anti-cheat. (#882)
  rules.ini
  tests/types/AntiCheat.BlackCipher.txt
Labels: Type: Anti-Cheat

Update rules.ini
  rules.ini
Labels: none

Update _NonMatchingTests.txt
  tests/types/_NonMatchingTests.txt
Labels: none

Update SDK.FishNet.txt
  tests/types/SDK.FishNet.txt
Labels: Type: SDK

Update rules.ini
  rules.ini
Labels: none

Detect `c3main.js` for Construct
  rules.ini
  tests/types/AntiCheat.BlackCipher.txt
  tests/types/Engine.Construct.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine, Type: Anti-Cheat

Add Nexon Launcher (#761)
  descriptions/Launcher.Nexon.md
  rules.ini
  tests/types/Launcher.Nexon.txt
Labels: Type: Launcher

Add phpstan
  .gitignore
  tests/CheckLocalFolder.php
  tests/GenerateTestStrings.php
  tests/Test.php
  tests/composer.json
  tests/phpstan.neon
Labels: none

Update xna rule
  rules.ini
  tests/types/Engine.XNA.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Update xna rule (#884)
  rules.ini
  tests/types/Engine.XNA.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Non optional extension for java
  rules.ini
  tests/types/SDK.JVM.txt
Labels: Type: SDK

dosbox.exe
  rules.ini
  tests/types/Emulator.DOSBOX.txt
Labels: none

Non optional extension for java (#885)
  rules.ini
  tests/types/SDK.JVM.txt
Labels: Type: SDK

dosbox.exe (#886)
  rules.ini
  tests/types/Emulator.DOSBOX.txt
Labels: none

Fix java extension dot
  rules.ini
Labels: none

Try curl without .so versions
  rules.ini
  tests/types/SDK.cURL.txt
Labels: Type: SDK

Update sfml
  rules.ini
  tests/types/SDK.SFML.txt
Labels: Type: SDK

Add optional `c` to sfml
  rules.ini
  tests/types/SDK.SFML.txt
Labels: Type: SDK

Add detection for Mirror and Mirage
  descriptions/SDK.Mirage.md
  descriptions/SDK.Mirror.md
  rules.ini
  tests/types/SDK.Mirage.txt
  tests/types/SDK.Mirror.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Fix order of tests
  rules.ini
Labels: none

Fix order again
  rules.ini
Labels: none

Add detection for PurrNet
  descriptions/SDK.PurrNet.md
  rules.ini
  tests/types/SDK.PurrNet.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Fix order
  rules.ini
Labels: none

Remove Mirage
  descriptions/SDK.Mirage.md
  rules.ini
  tests/types/SDK.Mirage.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Remove Arbiter
  descriptions/AntiCheat.Arbiter.md
  rules.ini
  tests/types/AntiCheat.Arbiter.txt
Labels: Type: Anti-Cheat

add s&box engine
  descriptions/Engine.sandbox.md
  rules.ini
  tests/types/Engine.sandbox.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

.github/labeler.yml:

"Type: Engine":
- changed-files:
  - any-glob-to-any-file: '**/Engine.*'

"Type: SDK":
- changed-files:
  - any-glob-to-any-file: '**/SDK.*'

"Type: Anti-Cheat":
- changed-files:
  - any-glob-to-any-file: '**/AntiCheat.*'

"Type: Launcher":
- changed-files:
  - any-glob-to-any-file: '**/Launcher.*'

"Type: Container":
- changed-files:
  - any-glob-to-any-file: '**/Container.*'
