Repository SteamDatabase/FileDetectionRuleSets, changes with the labels that .github/labeler.yml gives for each.
All labels: Type: Engine, Type: SDK, Type: Anti-Cheat, Type: Launcher, Type: Container

update frostbite
  rules.ini
  tests/types/Engine.Frostbite.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Zouna game engine
  descriptions/Engine.Zouna.md
  rules.ini
  tests/types/Engine.Zouna.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Resonance Audio
  descriptions/SDK.Resonance_Audio.md
  rules.ini
  tests/types/SDK.Resonance_Audio.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

generate strings
  tests/types/SDK.Resonance_Audio.txt
Labels: Type: SDK

Add Resonance Audio (#896)
  descriptions/SDK.Resonance_Audio.md
  rules.ini
  tests/types/SDK.Resonance_Audio.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Zouna game engine (#895)
  descriptions/Engine.Zouna.md
  rules.ini
  tests/types/Engine.Zouna.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Coherent GT SDK
  descriptions/SDK.Coherent_GT.md
  rules.ini
  tests/types/SDK.Coherent_GT.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Re-using existing Coherent rules files
  descriptions/SDK.Coherent.md
  descriptions/SDK.Coherent_GT.md
  tests/types/SDK.Coherent.txt
  tests/types/SDK.Coherent_GT.txt
Labels: Type: SDK

Updated .md file for the joint coherent changes Update rules.ini to combine the 2 Coherent techs
  descriptions/SDK.Coherent.md
  rules.ini
Labels: Type: SDK

Fix capturing group issue
  rules.ini
Labels: none

Split the 2 rules
  rules.ini
Labels: none

Add Coherent GT SDK (#897)
  descriptions/SDK.Coherent.md
  descriptions/SDK.Coherent_Gameface_OR_Prysm.md
  rules.ini
  tests/types/SDK.Coherent.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Update description of Mirror networking library
  descriptions/SDK.Mirror.md
Labels: Type: SDK

Add detection for Mirror (#889)
  descriptions/SDK.Mirror.md
  rules.ini
  tests/types/SDK.Mirror.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Update SDK.Wwise.txt
  tests/types/SDK.Wwise.txt
Labels: Type: SDK

Add additional Wwise rules (#856)
  rules.ini
  tests/types/SDK.Wwise.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add rules for AntiCheat.TheiaAntiTamper
  descriptions/AntiCheat.TheiaAntiTamper.md
  rules.ini
  tests/types/AntiCheat.TheiaAntiTamper
Labels: Type: Anti-Cheat

Rename AntiCheat.TheiaAntiTamper to AntiCheat.TheiaAntiTamper.txt
  tests/types/AntiCheat.TheiaAntiTamper.txt
Labels: Type: Anti-Cheat

Update rules.ini
  rules.ini
Labels: none

Remove _s pattern from tests
  tests/types/AntiCheat.TheiaAntiTamper.txt
Labels: Type: Anti-Cheat

Update rules.ini Remove _s pattern
  rules.ini
Labels: none

Shorten description
  descriptions/AntiCheat.TheiaAntiTamper.md
Labels: Type: Anti-Cheat

Add rules for AntiCheat.TheiaAntiTamper (#898)
  descriptions/AntiCheat.TheiaAntiTamper.md
  rules.ini
  tests/types/AntiCheat.TheiaAntiTamper.txt
Labels: Type: Anti-Cheat

Rules for coherence
  descriptions/SDK.coherence.md
  rules.ini
  tests/types/SDK.coherence.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

more file matches
  rules.ini
  tests/types/SDK.coherence.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

toolkit schema too
  rules.ini
  tests/types/SDK.coherence.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Unity Multiplayer Services SDK
  descriptions/SDK.UnityMultiplayerServices.md
  rules.ini
  tests/types/SDK.UnityMultiplayerServices.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Implementing proposition after review with engine team
  rules.ini
  tests/types/SDK.UnityMultiplayerServices.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Update descriptions/SDK.UnityMultiplayerServices.md
  descriptions/SDK.UnityMultiplayerServices.md
Labels: Type: SDK

change after conversion
  descriptions/SDK.UnityMultiplay.md
  descriptions/SDK.UnityMultiplayerServices.md
  rules.ini
  tests/types/SDK.UnityMultiplay.txt
  tests/types/SDK.UnityMultiplayerServices.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Update rules.ini
  rules.ini
Labels: none

Add Unity Multiplayer Services SDK (#901)
  descriptions/SDK.UnityMultiplay.md
  descriptions/SDK.UnityMultiplayerServices.md
  rules.ini
  tests/types/SDK.UnityMultiplayerServices.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Update tests
  tests/types/SDK.UnityMultiplayerServices.txt
  tests/types/SDK.Wwise.txt
Labels: Type: SDK

Add Bundle engine rule
  rules.ini
Labels: none

Create Engine.Bundle.md
  descriptions/Engine.Bundle.md
Labels: Type: Engine

Create Engine.Bundle.txt
  tests/types/Engine.Bundle.txt
Labels: Type: Engine

Add non-matching tests for Bundle engine to _NonMatchingTests.txt
  tests/types/_NonMatchingTests.txt
Labels: none

Update Engine.Bundle.txt
  tests/types/Engine.Bundle.txt
Labels: Type: Engine

Add Godot boy to Godot engine rules
  rules.ini
Labels: none

Add Godot boy to Engine.Godot.txt
  tests/types/Engine.Godot.txt
Labels: Type: Engine

.github/labeler.yml:

"Type: Engine":
- changed-files:
  - any-glob-to-any-file: '**/Engine.*'

"Type: SDK":
- changed-files:
  - any-glob-to-any-file: '**/SDK.*'

"Type: Anti-Cheat":
- changed-files:
  - any-glob-to-any-file: '**/AntiCheat.*'

"Type: Launcher":
- changed-files:
  - any-glob-to-any-file: '**/Launcher.*'

"Type: Container":
- changed-files:
  - any-glob-to-any-file: '**/Container.*'
