Repository SteamDatabase/FileDetectionRuleSets, changes with the labels that .github/labeler.yml gives for each.
All labels: Type: Engine, Type: SDK

Adding rules for Danmakufu Engine
  descriptions/Engine.Danmakufu.md
  rules.ini
  tests/types/Engine.Danmakufu.txt
Labels: Type: Engine

Fixing Danmakufu Rule
  rules.ini
Labels: none

Adding Danmakufu Non matching tests
  tests/types/_NonMatchingTests.txt
Labels: none

Add Detection for Danmakufu Engine (#110)
  descriptions/Engine.Danmakufu.md
  rules.ini
  tests/types/Engine.Danmakufu.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Improve detection for KiriKiri
  rules.ini
  tests/types/Engine.KiriKiri.txt
Labels: Type: Engine

Improve detection for KiriKiri (#111)
  rules.ini
  tests/types/Engine.KiriKiri.txt
Labels: Type: Engine

Add Proton rules
  descriptions/AntiCheat.EasyAntiCheatProton.md
  rules.ini
  tests/types/AntiCheat.EasyAntiCheatProton.txt
  tests/types/_NonMatchingTests.txt
Labels: none

Add detection for Godot's new 32-bit x86 suffix of x86_32
  tests/FileDetector.php
Labels: none

Godot: Add support for `.x86_32` extension for Linux x86 32-bit
  tests/FileDetector.php
  tests/filelists/Engine.Godot.TestLinux32.txt
  tests/filelists/Engine.Godot.TestLinux32Old.txt
  tests/filelists/Engine.Godot.TestLinux64.txt
  tests/filelists/Engine.Godot.TestMacOS.txt
  tests/filelists/Engine.Godot.TestWindows.txt
Labels: Type: Engine

Godot: Add support for `.x86_32` extension for Linux x86 32-bit (#113)
  tests/FileDetector.php
  tests/filelists/Engine.Godot.TestLinux32.txt
  tests/filelists/Engine.Godot.TestLinux32Old.txt
  tests/filelists/Engine.Godot.TestLinux64.txt
  tests/filelists/Engine.Godot.TestMacOS.txt
  tests/filelists/Engine.Godot.TestWindows.txt
Labels: Type: Engine

Added support for Odin Inspector, a Unity VSP SDK for Unity
  descriptions/SDK.UnityOdin.md
  rules.ini
  tests/types/SDK.UnityOdin.txt
Labels: Type: SDK

Fixed "Rules should be sorted in case insensitive natural order, "UnityURP" should be after "UnityOdin""
  rules.ini
Labels: none

Add Apex Engine
  descriptions/Engine.ApexEngine.md
  rules.ini
  tests/FileDetector.php
  tests/filelists/Engine.ApexEngine.txt
  tests/types/Evidence.ARC.txt
  tests/types/Evidence.TAB.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

developpped
  descriptions/Engine.ApexEngine.md
Labels: Type: Engine

Add Apex Engine (#116)
  descriptions/Engine.ApexEngine.md
  rules.ini
  tests/FileDetector.php
  tests/filelists/Engine.ApexEngine.txt
  tests/types/Evidence.ARC.txt
  tests/types/Evidence.TAB.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Real Virtuality Engine
  descriptions/Engine.RealVirtuality.md
  rules.ini
  tests/types/Engine.RealVirtuality.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Real Virtuality Engine (#118)
  descriptions/Engine.RealVirtuality.md
  rules.ini
  tests/types/Engine.RealVirtuality.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Oodle
  descriptions/SDK.Oodle.md
  rules.ini
  tests/types/SDK.Oodle.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Oodle (#119)
  descriptions/SDK.Oodle.md
  rules.ini
  tests/types/SDK.Oodle.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Vorbis
  descriptions/SDK.Vorbis.md
  rules.ini
  tests/types/SDK.Vorbis.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add cURL
  descriptions/SDK.cURL.md
  rules.ini
  tests/types/SDK.cURL.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Vivox
  descriptions/SDK.Vivox.md
  rules.ini
  tests/types/SDK.Vivox.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add cURL (#121)
  descriptions/SDK.cURL.md
  rules.ini
  tests/types/SDK.cURL.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Vorbis (#120)
  descriptions/SDK.Vorbis.md
  rules.ini
  tests/types/SDK.Vorbis.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Vivox (#122)
  descriptions/SDK.Vivox.md
  rules.ini
  tests/types/SDK.Vivox.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add OpenXR
  descriptions/SDK.OpenXR.md
  rules.ini
  tests/types/SDK.OpenXR.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add OpenXR (#123)
  descriptions/SDK.OpenXR.md
  rules.ini
  tests/types/SDK.OpenXR.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add UbiArt Framework
  descriptions/Engine.UbiArtFramework.md
  rules.ini
  tests/types/Engine.UbiArtFramework.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add NVIDIA APEX
  descriptions/SDK.NVIDIA_APEX.md
  rules.ini
  tests/types/SDK.NVIDIA_APEX.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add UbiArt Framework (#124)
  descriptions/Engine.UbiArtFramework.md
  rules.ini
  tests/types/Engine.UbiArtFramework.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Reduce amount of file we are looking for
  rules.ini
  tests/types/SDK.NVIDIA_APEX.txt
Labels: Type: SDK

Add NVIDIA APEX (#125)
  descriptions/SDK.NVIDIA_APEX.md
  rules.ini
  tests/types/SDK.NVIDIA_APEX.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Fix SDK template to actually add the SDK label
  .github/ISSUE_TEMPLATE/6_type_sdk.yml
Labels: none

Change Torque engine URL
  descriptions/Engine.Torque.md
Labels: Type: Engine

Updates the Torque Game Engine description to point to the current website
  descriptions/Engine.Torque.md
Labels: Type: Engine

Add rules for AMD FSR2
  descriptions/SDK.AMD_FSR2.md
  rules.ini
  tests/types/SDK.AMD_FSR2.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Fix order
  rules.ini
Labels: none

Fix pattern derp
  rules.ini
Labels: none

Add new filename for Steamworks.NET.
  rules.ini
  tests/types/SDK.SteamworksNET.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add support for detecting two DOTS related Unity packages to SDKs. Entities and Hybrid Renderer
  descriptions/SDK.UnityEntities.md
  descriptions/SDK.UnityHybridRenderer.md
  rules.ini
  tests/types/SDK.UnityEntities.txt
  tests/types/SDK.UnityHybridRenderer.txt
Labels: Type: SDK

.github/labeler.yml:

"Type: Engine":
  - '**/Engine.*'

"Type: SDK":
  - '**/SDK.*'
