Repository SteamDatabase/FileDetectionRuleSets, changes with the labels that .github/labeler.yml gives for each.
All labels: Type: Engine, Type: SDK

add new examples
  rules.ini
  tests/types/SDK.CRIWARE.txt
Labels: Type: SDK

add new examples
  rules.ini
  tests/types/SDK.CRIWARE.txt
Labels: Type: SDK

Add Azure Playfab Party (#42)
  descriptions/SDK.Azure_Playfab_Party.md
  rules.ini
  tests/types/SDK.Azure_Playfab_Party.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add more link to id tech descriptions and add some missing tests (#58)
  descriptions/Engine.idTech4.md
  descriptions/Engine.idTech5.md
  descriptions/Engine.idTech6.md
  tests/filelists/Engine.Aurora.txt
  tests/filelists/Engine.Frostbite.txt
  tests/filelists/Engine.Infinity.txt
  tests/filelists/Engine.SCI.txt
  tests/filelists/Engine.idTech0.txt
  tests/filelists/Engine.idTech1.txt
  tests/types/Engine.idTech3.txt
Labels: Type: Engine

Add idTech 7 for now
  descriptions/Engine.idTech7.md
  rules.ini
  tests/types/Engine.GameMaker.txt
  tests/types/Engine.idTech7.txt
  tests/types/SDK.Adobe_Flash.txt
Labels: Type: Engine, Type: SDK

Add UPBGE
  descriptions/Engine.UPBGE.md
  rules.ini
  tests/types/Engine.UPBGE.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

and blenderplayer.exe for Domino Effect
  rules.ini
  tests/types/Engine.UPBGE.txt
Labels: Type: Engine

Add UPBGE Engine (#61)
  descriptions/Engine.UPBGE.md
  rules.ini
  tests/types/Engine.UPBGE.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add CRIWARE (#48)
  descriptions/SDK.CRIWARE.md
  rules.ini
  tests/types/SDK.CRIWARE.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

uppercase
  descriptions/SDK.CRIWARE.md
  tests/types/SDK.CRIWARE.txt
Labels: Type: SDK

Mention that it's filenames only
  .github/ISSUE_TEMPLATE/5_type_engine.yml
  .github/ISSUE_TEMPLATE/6_type_sdk.yml
Labels: none

Add RAGE engine
  descriptions/Engine.RAGE.md
  rules.ini
  tests/types/Engine.RAGE.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

warn about id Tech 5
  descriptions/Engine.RAGE.md
Labels: Type: Engine

Removes false positive by checking for a metadata.dat
  rules.ini
  tests/FileDetector.php
  tests/filelists/Engine.RAGE.txt
  tests/types/Evidence.METADATA_DAT.txt
  tests/types/Evidence.RPF.txt
Labels: Type: Engine

One small non matching test
  tests/types/_NonMatchingTests.txt
Labels: none

Add Marmalade.
  descriptions/Engine.Marmalade.md
  rules.ini
  tests/types/Engine.Marmalade.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Update rules.ini
  rules.ini
Labels: none

Add Frostbite engine.
  descriptions/Engine.Frostbite.txt
  rules.ini
  tests/types/Engine.Frostbite.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Cover also lib retail version.
  rules.ini
Labels: none

Small regex fix.
  rules.ini
Labels: none

Redundant |
  rules.ini
Labels: none

GFSDK_Aftermath_Lib is from NVIDIA_Nsight_Aftermath, not Frostbite.
  rules.ini
Labels: none

Add Raycasting Game Maker
  descriptions/Engine.RaycastingGameMaker.md
  rules.ini
  tests/types/Engine.RaycastingGameMaker.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Marmalade (#63)
  descriptions/Engine.Marmalade.md
  rules.ini
  tests/types/Engine.Marmalade.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add RAGE engine (#62)
  descriptions/Engine.RAGE.md
  rules.ini
  tests/FileDetector.php
  tests/filelists/Engine.RAGE.txt
  tests/types/Evidence.METADATA_DAT.txt
  tests/types/Evidence.RPF.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add extra tests for unexpected files
  tests/Test.php
  tests/types/Engine.Construct2.txt
Labels: Type: Engine

add a new sdk OpenVR
  descriptions/SDK.OpenVR.md
  rules.ini
  tests/types/SDK.OpenVR.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

add a rule case for macos openvr sdk
  rules.ini
  tests/types/SDK.OpenVR.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add a new SDK OpenVR (#66)
  descriptions/SDK.OpenVR.md
  rules.ini
  tests/types/SDK.OpenVR.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Change Frostbite detection
  rules.ini
  tests/FileDetector.php
  tests/filelists/Engine.Frostbite.Test.txt
  tests/filelists/Engine.Frostbite.txt
  tests/types/Engine.Frostbite.txt
  tests/types/Engine.Marmalade.txt
  tests/types/Evidence.CAS.txt
  tests/types/Evidence.METADATA_DAT.txt
  tests/types/Evidence.SB.txt
  tests/types/Evidence.TOC.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

[#60] Add Bitsquid description, rule for bundles, and tests
  descriptions/Engine.Bitsquid.md
  rules.ini
  tests/types/Engine.Bitsquid.txt
Labels: Type: Engine

[#60] Reorder Bitsquid in rules.ini to be in natural order
  rules.ini
Labels: none

Add Bitsquid/Autodesk Stingray/3DS Max Interactive as Engine (#60)
  descriptions/Engine.Bitsquid.md
  rules.ini
  tests/types/Engine.Bitsquid.txt
Labels: Type: Engine

Add comments in rules.ini
  rules.ini
Labels: none

Remove unused Evidence types
  rules.ini
  tests/types/Evidence.BSP.txt
  tests/types/Evidence.IQM.txt
  tests/types/Evidence.JS.txt
  tests/types/Evidence.LUA.txt
  tests/types/Evidence.PY.txt
  tests/types/Evidence.SWF.txt
Labels: none

Add Ogre engine support
  descriptions/Engine.OGRE.md
  rules.ini
  tests/types/Engine.OGRE.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Ogre engine support (#72)
  descriptions/Engine.OGRE.md
  rules.ini
  tests/types/Engine.OGRE.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add a script that tests matcher against a folder on disk
  tests/CheckLocalFolder.php
Labels: none

Added Cobra Engine Description
  descriptions/Engine.Cobra
Labels: Type: Engine

Rename Engine.Cobra to Engine.Cobra.md
  descriptions/Engine.Cobra.md
Labels: Type: Engine

.github/labeler.yml:

"Type: Engine":
  - '**/Engine.*'

"Type: SDK":
  - '**/SDK.*'
