Repository SteamDatabase/FileDetectionRuleSets, changes with the labels that .github/labeler.yml gives for each.
All labels: Type: Engine, Type: SDK, Type: Anti-Cheat, Type: Launcher, Type: Container

.github/labeler.yml:

"Type: Engine":
- changed-files:
  - any-glob-to-any-file: '**/Engine.*'

"Type: SDK":
- changed-files:
  - any-glob-to-any-file: '**/SDK.*'

"Type: Anti-Cheat":
- changed-files:
  - any-glob-to-any-file: '**/AntiCheat.*'

"Type: Launcher":
- changed-files:
  - any-glob-to-any-file: '**/Launcher.*'

"Type: Container":
- changed-files:
  - any-glob-to-any-file: '**/Container.*'

Add NVIDIA RTX IO
  descriptions/SDK.NVIDIA_RTX_IO.md
  rules.ini
  tests/types/SDK.NVIDIA_RTX_IO.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Update Engine.Unreal.md
  descriptions/Engine.Unreal.md
Labels: Type: Engine

Added rules for Dissonance Voice Chat
  descriptions/SDK.Dissonance.md
  rules.ini
  tests/types/Dissonance.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

- Fixed file naming (SDK.Dissonance) - Fixed regex matching the file name at any path
  rules.ini
  tests/types/SDK.Dissonance.txt
Labels: Type: SDK

detect c2main.js and c2main.js
  rules.ini
Labels: none

Add c2main.js and c3main.js to Engine.Construct.txt
  tests/types/Engine.Construct.txt
Labels: Type: Engine

Add tests for c2main.js and c3main.js to _NonMatchingTests.txt
  tests/types/_NonMatchingTests.txt
Labels: none

add rules for fishnet
  descriptions/SDK.FishNet.md
  rules.ini
  tests/types/SDK.FishNet.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

added output from generate test strings
  tests/types/SDK.FishNet.txt
Labels: Type: SDK

Added CrashKonijn's GOAP to SDK's
  descriptions/SDK.CrashKonijn_Goap.md
  rules.ini
  tests/types/SDK.CrashKonijn_Goap.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Added additional Yarn Spinner pattern to detect post-IL2CPP files
  rules.ini
Labels: none

Test cases for new IL2CPP Yarn Spinner patterns
  tests/types/SDK.Yarn_Spinner.txt
Labels: Type: SDK

Added line-ending character
  rules.ini
Labels: none

Minimised rules for Yarn Spinner detected with or without IL2CPP
  rules.ini
Labels: none

Update NonMatchingTests for more permissive Yarn Spinner pattern
  tests/types/_NonMatchingTests.txt
Labels: none

Less permissive rules for Yarn Spinner in IL2CPP projects
  rules.ini
Labels: none

Updated tests for Yarn Spinner IL2CPP with less permissive tests
  tests/types/SDK.Yarn_Spinner.txt
Labels: Type: SDK

Update SDK.Yarn_Spinner.txt
  tests/types/SDK.Yarn_Spinner.txt
Labels: Type: SDK

update website link
  descriptions/SDK.Dissonance.md
Labels: Type: SDK

remove .so & .bundle
  rules.ini
Labels: none

remove .so & .bundle
  tests/types/SDK.Dissonance.txt
Labels: Type: SDK

remove .so & .bundle
  tests/types/_NonMatchingTests.txt
Labels: none

Added rules for Dissonance Voice Chat (#874)
  descriptions/SDK.Dissonance.md
  rules.ini
  tests/types/SDK.Dissonance.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

regen strings
  tests/types/SDK.Dissonance.txt
Labels: Type: SDK

Fix some rules to allow splitting by extension
  rules.ini
  tests/types/AntiCheat.EA_AntiCheat.txt
  tests/types/Engine.EngineX.txt
  tests/types/Engine.VisionaireStudio.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine, Type: Anti-Cheat

Split regexes to match based on the file extension
  tests/FileDetector.php
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Split more extension rules
  rules.ini
Labels: none

test only detecting .dll
  rules.ini
  tests/types/SDK.EpicOnlineServices.txt
Labels: Type: SDK

Fallback
  tests/FileDetector.php
Labels: none

readd eossdk.dll
  rules.ini
  tests/types/SDK.EpicOnlineServices.txt
Labels: Type: SDK

add back libEOSSDK-Linux-Shipping.so
  rules.ini
  tests/types/SDK.EpicOnlineServices.txt
Labels: Type: SDK

add back libEOSSDK-Mac-Shipping.dylib
  rules.ini
  tests/types/SDK.EpicOnlineServices.txt
Labels: Type: SDK

Update EOS to look for specific files instead of a generic string (#879)
  rules.ini
  tests/types/SDK.EpicOnlineServices.txt
Labels: Type: SDK

EAC switch to look for a specific string
  rules.ini
  tests/types/AntiCheat.EasyAntiCheat.txt
Labels: Type: Anti-Cheat

add EOS setup version
  rules.ini
  tests/types/AntiCheat.EasyAntiCheat.txt
Labels: Type: Anti-Cheat

add eac_server64.dll
  rules.ini
  tests/types/AntiCheat.EasyAntiCheat.txt
Labels: Type: Anti-Cheat

add EasyAntiCheat.dll
  rules.ini
  tests/types/AntiCheat.EasyAntiCheat.txt
Labels: Type: Anti-Cheat

add EasyAntiCheat_x64.dll
  rules.ini
  tests/types/AntiCheat.EasyAntiCheat.txt
Labels: Type: Anti-Cheat

drop AceAntibotClient path, not used anymore
  rules.ini
  tests/types/AntiCheat.AntiCheatExpert.txt
Labels: Type: Anti-Cheat
