Repository SteamDatabase/FileDetectionRuleSets, changes with the labels that .github/labeler.yml gives for each.
All labels: Type: Engine, Type: SDK

Add Nexon Game Security
  descriptions/AntiCheat.BlackCipher.md
  rules.ini
  tests/types/AntiCheat.BlackCipher.txt
  tests/types/_NonMatchingTests.txt
Labels: none

Add Nexon Game Security (#151)
  descriptions/AntiCheat.BlackCipher.md
  rules.ini
  tests/types/AntiCheat.BlackCipher.txt
  tests/types/_NonMatchingTests.txt
Labels: none

Add NW.js
  descriptions/SDK.NWJS.md
  rules.ini
  tests/types/SDK.NWJS.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add NW.js (#152)
  descriptions/SDK.NWJS.md
  rules.ini
  tests/types/SDK.NWJS.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Update Vivox rule
  rules.ini
  tests/types/SDK.Vivox.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Update Vivox rule (#153)
  rules.ini
  tests/types/SDK.Vivox.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Update NW.js rule
  descriptions/SDK.NWJS.md
  rules.ini
  tests/types/SDK.NWJS.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Intel Open Image Denoise
  descriptions/SDK.Intel_OID.md
  rules.ini
  tests/types/SDK.Intel_OID.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Intel Open Image Denoise (#155)
  descriptions/SDK.Intel_OID.md
  rules.ini
  tests/types/SDK.Intel_OID.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Simplify some regexes
  rules.ini
Labels: none

Add Oculus XR Plugin
  descriptions/SDK.OculusXRPlugin.md
  rules.ini
  tests/types/SDK.OculusXRPlugin.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

package => library
  descriptions/SDK.OculusXRPlugin.md
Labels: Type: SDK

more nonmatchingTests
  tests/types/_NonMatchingTests.txt
Labels: none

Add Oculus XR Plugin (#158)
  descriptions/SDK.OculusXRPlugin.md
  rules.ini
  tests/types/SDK.OculusXRPlugin.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Improve GoldSource detection
  rules.ini
  tests/types/Engine.GoldSource.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Fix PHP worflow
  .github/workflows/test.yml
Labels: none

Fix PHP worflow (#160)
  .github/workflows/test.yml
Labels: none

Don't match source games as GoldSrc ones
  rules.ini
  tests/types/_NonMatchingTests.txt
Labels: none

Add Anti-Cheat Expert
  descriptions/AntiCheat.AntiCheatExpert.md
  rules.ini
  tests/types/AntiCheat.AntiCheatExpert.txt
  tests/types/_NonMatchingTests.txt
Labels: none

Specify workflow permissions
  .github/workflows/labeler.yml
  .github/workflows/test.yml
Labels: none

Update Engine.Source2.md
  descriptions/Engine.Source2.md
Labels: Type: Engine

added iZotope's SDK
  descriptions/SDK.iZotope.md
  rules.ini
  tests/types/SDK.iZotope.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Added the Cinemachine SDK
  descriptions/SDK.Cinemachine.md
  rules.ini
  tests/types/SDK.Cinemachine.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

fixed error(?)
  rules.ini
Labels: none

what about now
  rules.ini
Labels: none

added iZotope's SDK (#164)
  descriptions/SDK.iZotope.md
  rules.ini
  tests/types/SDK.iZotope.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add Anti-Cheat Expert (#161)
  descriptions/AntiCheat.AntiCheatExpert.md
  rules.ini
  tests/types/AntiCheat.AntiCheatExpert.txt
  tests/types/_NonMatchingTests.txt
Labels: none

Add Ubisoft Anvil
  descriptions/Engine.UbisoftAnvil.md
  rules.ini
  tests/types/Engine.UbisoftAnvil.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Ubisoft Anvil (#195)
  descriptions/Engine.UbisoftAnvil.md
  rules.ini
  tests/types/Engine.UbisoftAnvil.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Diesel
  descriptions/Engine.Diesel.md
  rules.ini
  tests/types/Engine.Diesel.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Diesel (#196)
  descriptions/Engine.Diesel.md
  rules.ini
  tests/types/Engine.Diesel.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Liquid Engine
  descriptions/Engine.Liquid.md
  rules.ini
  tests/types/Engine.Liquid.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add SubFolder lookup
  rules.ini
  tests/types/Engine.Liquid.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Update Engine.Liquid.txt
  tests/types/Engine.Liquid.txt
Labels: Type: Engine

experiment #1
  rules.ini
Labels: none

fixed
  rules.ini
Labels: none

Add Liquid Engine (#203)
  descriptions/Engine.Liquid.md
  rules.ini
  tests/types/Engine.Liquid.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Amazon Lumberyard
  descriptions/Engine.AmazonLumberyard.md
  rules.ini
  tests/types/Engine.AmazonLumberyard.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add C4 Engine
  descriptions/Engine.C4Engine.md
  rules.ini
  tests/types/Engine.C4Engine.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

Add Amazon Lumberyard (#204)
  descriptions/Engine.AmazonLumberyard.md
  rules.ini
  tests/types/Engine.AmazonLumberyard.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

.github/labeler.yml:

"Type: Engine":
  - '**/Engine.*'

"Type: SDK":
  - '**/SDK.*'
