Repository SteamDatabase/FileDetectionRuleSets, changes with the labels that .github/labeler.yml gives for each.
All labels: Type: Engine, Type: SDK, Type: Anti-Cheat, Type: Launcher, Type: Container

.github/labeler.yml:

"Type: Engine":
- changed-files:
  - any-glob-to-any-file: '**/Engine.*'

"Type: SDK":
- changed-files:
  - any-glob-to-any-file: '**/SDK.*'

"Type: Anti-Cheat":
- changed-files:
  - any-glob-to-any-file: '**/AntiCheat.*'

"Type: Launcher":
- changed-files:
  - any-glob-to-any-file: '**/Launcher.*'

"Type: Container":
- changed-files:
  - any-glob-to-any-file: '**/Container.*'

Add non-matching tests for Godot boy
  tests/types/_NonMatchingTests.txt
Labels: none

Add Pyglet rule.
  rules.ini
Labels: none

Create Engine.pyglet.txt
  tests/types/Engine.pyglet.txt
Labels: Type: Engine

Create Engine.Pyglet.md
  descriptions/Engine.Pyglet.md
Labels: Type: Engine

Update _NonMatchingTests.txt with pyglet tests
  tests/types/_NonMatchingTests.txt
Labels: none

Rename Engine.pyglet.txt to Engine.Pyglet.txt
  tests/types/Engine.Pyglet.txt
Labels: Type: Engine

Update _NonMatchingTests.txt
  tests/types/_NonMatchingTests.txt
Labels: none

Add Cave engine rule.
  rules.ini
Labels: none

Create Engine.Cave.md
  descriptions/Engine.Cave.md
Labels: Type: Engine

Create Engine.Cave.txt
  tests/types/Engine.Cave.txt
Labels: Type: Engine

Update _NonMatchingTests.txt with Cave engine
  tests/types/_NonMatchingTests.txt
Labels: none

Add SexyAppFramework
  rules.ini
Labels: none

Add SexyAppFramework
  tests/types/Engine.SexyAppFramework.txt
Labels: Type: Engine

Create Engine.SexyAppFramework.md
  descriptions/Engine.SexyAppFramework.md
Labels: Type: Engine

Update number of files
  README.md
Labels: none

Revert "Add rules for AntiCheat.TheiaAntiTamper (#898)"
  descriptions/AntiCheat.TheiaAntiTamper.md
  rules.ini
  tests/types/AntiCheat.TheiaAntiTamper.txt
Labels: Type: Anti-Cheat

Add Noesis GUI detection * Add Noesis GUI rules * Add short description with an link to the NoesisGUI site * Add non-matching tests * Add tests for the Windows Noesis.dll library
  rules.ini
  tests/types/SDK.NoesisGUI.md
  tests/types/SDK.NoesisGUI.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Move the description into the correct directory
  descriptions/SDK.NoesisGUI.md
Labels: Type: SDK

Make generated test strings a warning, print them
  tests/GenerateTestStrings.php
Labels: none

Add NoesisGUI SDK detection (#910)
  descriptions/SDK.NoesisGUI.md
  rules.ini
  tests/types/SDK.NoesisGUI.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Update SDK.NoesisGUI.txt
  tests/types/SDK.NoesisGUI.txt
Labels: Type: SDK

Add NetEase Anti-Cheat-Experts
  descriptions/AntiCheat.NetEase_AntiCheatExperts.md
  rules.ini
  tests/types/AntiCheat.NetEase_AntiCheatExperts.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Anti-Cheat

Add Tencent GCloud
  descriptions/SDK.Tencent_GCloud.md
  rules.ini
  tests/types/SDK.Tencent_GCloud.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add NetEase Anti-Cheat-Experts (#913)
  descriptions/AntiCheat.NetEase_AntiCheatExperts.md
  rules.ini
  tests/types/AntiCheat.NetEase_AntiCheatExperts.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Anti-Cheat

Add Tencent GCloud (#912)
  descriptions/SDK.Tencent_GCloud.md
  rules.ini
  tests/types/SDK.Tencent_GCloud.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

Add NetEase Yidun
  descriptions/AntiCheat.NetEase_Yidun.md
  rules.ini
  tests/types/AntiCheat.NetEase_Yidun.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Anti-Cheat

Add NetEase Yidun (#914)
  descriptions/AntiCheat.NetEase_Yidun.md
  rules.ini
  tests/types/AntiCheat.NetEase_Yidun.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Anti-Cheat

Rename Engine.SexyAppFramework.txt to Engine.PopcapGamesFramework.txt
  tests/types/Engine.PopcapGamesFramework.txt
Labels: Type: Engine

Rename Engine.SexyAppFramework.md to Engine.PopcapGamesFramework.md
  descriptions/Engine.PopcapGamesFramework.md
Labels: Type: Engine

Update rules.ini
  rules.ini
Labels: none

Update rules.ini
  rules.ini
Labels: none

Update rules.ini
  rules.ini
Labels: none

Add PopCap Games Framework (#908)
  descriptions/Engine.PopcapGamesFramework.md
  rules.ini
  tests/types/Engine.PopcapGamesFramework.txt
Labels: Type: Engine

Add HPL rule
  rules.ini
Labels: none

Create Engine.HPL.txt
  tests/types/Engine.HPL.txt
Labels: Type: Engine

Create Engine.HPL.md
  descriptions/Engine.HPL.md
Labels: Type: Engine

Update _NonMatchingTests.txt
  tests/types/_NonMatchingTests.txt
Labels: none

Add Flax rule
  rules.ini
Labels: none

Create Engine.Flax.txt
  tests/Engine.Flax.txt
Labels: Type: Engine

Create Engine.Flax.md
  descriptions/Engine.Flax.md
Labels: Type: Engine
