Repository SteamDatabase/FileDetectionRuleSets, pull requests merged in 2021-08, with the labels that each got.

#20 Add Tobii Eye Tracking
  descriptions/SDK.Tobii.md
  rules.ini
  tests/types/SDK.Tobii.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#24 Add Nvidia PhysX
  descriptions/SDK.NVIDIA_PhysX.md
  rules.ini
  tests/types/SDK.NVIDIA_PhysX.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#25 Add a new SDK Qt
  descriptions/SDK.Qt.md
  rules.ini
  tests/types/SDK.Qt.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#17 Defold
  descriptions/Engine.Defold.md
  rules.ini
  tests/types/Engine.Defold.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#15 Add FMOD
  descriptions/SDK.FMOD.md
  rules.ini
  tests/types/SDK.FMOD.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#43 Add Snowdrop as Engine
  descriptions/Engine.Snowdrop.md
  rules.ini
  tests/types/Engine.Snowdrop.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#53 Detect projects with Godot source code (`project.godot`)
  rules.ini
  tests/types/Engine.Godot.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#50 Add Unigine
  descriptions/Engine.Unigine.md
  rules.ini
  tests/types/Engine.Unigine.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#47 Add Missing Descriptions
  descriptions/AntiCheat.BattlEye.md
  descriptions/AntiCheat.PunkBuster.md
  descriptions/Emulator.SCUMMVM.md
  descriptions/Engine.AGI.md
  descriptions/Engine.AdobeAIR.md
  descriptions/Engine.AdobeFlash.md
  descriptions/Engine.AdventureGameStudio.md
  descriptions/Engine.Build.md
  descriptions/Engine.ChromeEngine.md
  descriptions/Engine.CryEngine.md
  descriptions/Engine.FNA.md
  descriptions/Engine.KiriKiri.md
  descriptions/Engine.Lime_OR_OpenFL.md
  descriptions/Engine.Love2D.md
  descriptions/Engine.MonoGame.md
  descriptions/Engine.Phyre.md
  descriptions/Engine.PlayFirstPlayground.md
  descriptions/Engine.Prism3D.md
  descriptions/Engine.Quake.md
  descriptions/Engine.RPGMaker.md
  descriptions/Engine.RenPy.md
  descriptions/Engine.VisionaireStudio.md
  descriptions/Engine.Wintermute.md
  descriptions/Engine.WolfRPGEditor.md
  descriptions/Engine.XNA.md
  descriptions/Engine.idTech2.md
  descriptions/Engine.idTech4.md
  descriptions/Engine.idTech5.md
  descriptions/SDK.NodeJS.md
Labels: Type: Engine, Type: SDK

#55 Add last missing description and small adjustement on some description
  descriptions/Engine.AdobeAIR.md
  descriptions/Engine.Frostbite.md
  descriptions/Engine.GameMaker.md
  descriptions/Engine.Lime_OR_OpenFL.md
  descriptions/Engine.SCI.md
  descriptions/Engine.idTech0.md
  descriptions/Engine.idTech1.md
  descriptions/Engine.idTech2.md
  descriptions/Engine.idTech3.md
  descriptions/Engine.idTech4.md
Labels: Type: Engine

#39 Add Chromium Embedded Framework
  descriptions/SDK.CEF.md
  rules.ini
  tests/types/SDK.CEF.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#42 Add Azure Playfab Party
  descriptions/SDK.Azure_Playfab_Party.md
  rules.ini
  tests/types/SDK.Azure_Playfab_Party.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#58 Add more link to id tech descriptions and add some missing tests
  descriptions/Engine.idTech4.md
  descriptions/Engine.idTech5.md
  descriptions/Engine.idTech6.md
  tests/filelists/Engine.Aurora.txt
  tests/filelists/Engine.Frostbite.txt
  tests/filelists/Engine.Infinity.txt
  tests/filelists/Engine.SCI.txt
  tests/filelists/Engine.idTech0.txt
  tests/filelists/Engine.idTech1.txt
  tests/types/Engine.idTech3.txt
Labels: Type: Engine

#61 Add UPBGE Engine
  descriptions/Engine.UPBGE.md
  rules.ini
  tests/types/Engine.UPBGE.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#48 Add CRIWARE
  descriptions/SDK.CRIWARE.md
  rules.ini
  tests/types/SDK.CRIWARE.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#63 Add Marmalade.
  descriptions/Engine.Marmalade.md
  rules.ini
  tests/types/Engine.Marmalade.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#62 Add RAGE engine
  descriptions/Engine.RAGE.md
  rules.ini
  tests/FileDetector.php
  tests/filelists/Engine.RAGE.txt
  tests/types/Evidence.METADATA_DAT.txt
  tests/types/Evidence.RPF.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#66 Add a new SDK OpenVR
  descriptions/SDK.OpenVR.md
  rules.ini
  tests/types/SDK.OpenVR.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#60 Add Bitsquid/Autodesk Stingray/3DS Max Interactive as Engine
  descriptions/Engine.Bitsquid.md
  rules.ini
  tests/types/Engine.Bitsquid.txt
Labels: Type: Engine

#72 Add OGRE engine support
  descriptions/Engine.OGRE.md
  rules.ini
  tests/types/Engine.OGRE.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#75 Add Engine - Flexi
  descriptions/Engine.Flexi.md
  rules.ini
  tests/types/Engine.Flexi.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#77 Add Solar2D engine
  descriptions/Engine.Solar2D.md
  rules.ini
  tests/types/Engine.Solar2D.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#84 Add Virtools engine
  descriptions/Engine.Virtools.md
  rules.ini
  tests/types/Engine.Virtools.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#85 add HashLink engine
  descriptions/Engine.HashLink.md
  rules.ini
  tests/types/Engine.HashLink.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#87 Add Cocos2d engine
  descriptions/Engine.Cocos2d.md
  rules.ini
  tests/types/Engine.Cocos2d.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#69 Add Bink Video as SDK
  descriptions/SDK.Bink_Video.md
  rules.ini
  tests/types/SDK.Bink_Video.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#90 Add Telltale Tool engine
  descriptions/Engine.TelltaleTool.md
  rules.ini
  tests/types/Engine.TelltaleTool.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#91 Fixed misspelling of Frostbite
  descriptions/Engine.Frostbite.md
Labels: Type: Engine
