Repository SteamDatabase/FileDetectionRuleSets, pull requests merged in 2023-09, with the labels that each got.

#381 Add detection for SakanaGL engine
  descriptions/Engine.SakanaGL.md
  rules.ini
  tests/types/Engine.SakanaGL.txt
Labels: Type: Engine

#402 update OpenAL rule to match Trackmania
  rules.ini
  tests/types/SDK.OpenAL.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#446 Add DirectStorage as an SDK
  descriptions/SDK.DirectStorage.md
  rules.ini
  tests/types/SDK.DirectStorage.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#404 update EAC rule
  rules.ini
  tests/types/AntiCheat.EasyAntiCheat.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Anti-Cheat
