Repository SteamDatabase/FileDetectionRuleSets, pull requests merged in 2023-02, with the labels that each got.

#195 Add Ubisoft Anvil
  descriptions/Engine.UbisoftAnvil.md
  rules.ini
  tests/types/Engine.UbisoftAnvil.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#196 Add Diesel
  descriptions/Engine.Diesel.md
  rules.ini
  tests/types/Engine.Diesel.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#203 Add Liquid Engine
  descriptions/Engine.Liquid.md
  rules.ini
  tests/types/Engine.Liquid.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#204 Add Amazon Lumberyard
  descriptions/Engine.AmazonLumberyard.md
  rules.ini
  tests/types/Engine.AmazonLumberyard.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#213 Add X-Ray Engine
  descriptions/Engine.X-Ray.md
  rules.ini
  tests/types/Engine.X-Ray.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#209 Add EA AntiCheat
  descriptions/AntiCheat.EAAntiCheat.md
  rules.ini
  tests/types/AntiCheat.EAAntiCheat.txt
  tests/types/_NonMatchingTests.txt
Labels: Only applies to one app, Type: Anti-Cheat

#210 Add Arbiter
  descriptions/AntiCheat.Arbiter.md
  rules.ini
  tests/types/AntiCheat.Arbiter.txt
  tests/types/_NonMatchingTests.txt
Labels: Only applies to one app, Type: Anti-Cheat

#206 Add C4 Engine
  descriptions/Engine.C4Engine.md
  rules.ini
  tests/types/Engine.C4Engine.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#216 Add Vision
  descriptions/Engine.Vision.md
  rules.ini
  tests/types/Engine.Vision.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#217 Add Glacier
  descriptions/Engine.Glacier.md
  rules.ini
  tests/types/Engine.Glacier.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#220 Add RGL
  descriptions/Launcher.RGL.md
  rules.ini
  tests/types/Launcher.RGL.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Launcher

#222 Add Ubisoft Connect
  descriptions/Launcher.Ubisoft_Connect.md
  rules.ini
  tests/types/Launcher.Ubisoft_Connect.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Launcher

#227 Fix text
  descriptions/Engine.AmazonLumberyard.md
Labels: Type: Engine

#229 Change names of technologies to look better
  descriptions/AntiCheat.EA_AntiCheat.md
  descriptions/Engine.Amazon_Lumberyard.md
  descriptions/Engine.C4_Engine.md
  rules.ini
  tests/types/AntiCheat.EA_AntiCheat.txt
  tests/types/Engine.Amazon_Lumberyard.txt
  tests/types/Engine.C4_Engine.txt
Labels: Type: Engine, Type: Anti-Cheat

#228 Add EA App
  descriptions/Launcher.EA_App.md
  rules.ini
  tests/types/Launcher.EA_App.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Launcher

#218 Add Asura
  descriptions/Engine.Asura.md
  rules.ini
  tests/types/Engine.Asura.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#238 Add 4A Engine
  descriptions/Engine.4A_Engine.md
  rules.ini
  tests/types/Engine.4A_Engine.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#244 Add Miles Sound System
  descriptions/SDK.Miles_Sound_System.md
  rules.ini
  tests/types/SDK.Miles_Sound_System.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#239 Add AppGameKit
  descriptions/Engine.AppGameKit.md
  rules.ini
  tests/types/Engine.AppGameKit.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#245 Add Granny 3D
  descriptions/SDK.Granny_3D.md
  rules.ini
  tests/types/SDK.Granny_3D.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#251 Add BASS
  descriptions/SDK.BASS.md
  rules.ini
  tests/types/SDK.BASS.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#254 Add OpenSSL
  descriptions/SDK.OpenSSL.md
  rules.ini
  tests/types/SDK.OpenSSL.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#256 Add Smacker Video
  descriptions/SDK.Smacker_Video.md
  rules.ini
  tests/types/SDK.Smacker_Video.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#264 Add Sodium
  descriptions/SDK.Sodium.md
  rules.ini
  tests/types/SDK.Sodium.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#275 Add RE Engine
  descriptions/Engine.RE_Engine.md
  rules.ini
  tests/types/Engine.RE_Engine.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#265 Add ZStandard
  descriptions/SDK.ZStandard.md
  rules.ini
  tests/types/SDK.ZStandard.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK
