Repository SteamDatabase/FileDetectionRuleSets, pull requests merged in 2023-10, with the labels that each got.

#436 Nitrous
  descriptions/Engine.Nitrous.md
  rules.ini
  tests/types/Engine.Nitrous.txt
Labels: Type: Engine

#349 Sfml
  descriptions/SDK.SFML.md
  rules.ini
  tests/types/SDK.SFML.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#471 Update truesky
  rules.ini
  tests/types/SDK.trueSKY.txt
Labels: Type: SDK

#484 Fredaiki's AntiCheat
  descriptions/AntiCheat.FredaikisAntiCheat.md
  rules.ini
  tests/types/AntiCheat.FredaikisAntiCheat.txt
Labels: Type: Anti-Cheat

#455 OpenTK
  descriptions/SDK.OpenTK.md
  rules.ini
  tests/types/SDK.OpenTK.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#485 Add Tencent GME
  descriptions/SDK.Tencent_GME.md
  rules.ini
  tests/types/SDK.Tencent_GME.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#388 Add FPS Creator
  descriptions/Engine.FPS_Creator.md
  rules.ini
  tests/types/Engine.FPS_Creator.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#460 add Opus
  descriptions/SDK.Opus.md
  rules.ini
  tests/types/SDK.Opus.txt
Labels: Type: SDK

#304 Add Ogg
  descriptions/SDK.Ogg.md
  rules.ini
  tests/types/SDK.Ogg.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#427 Improve SDL detection
  rules.ini
  tests/types/SDK.SDL.txt
Labels: Type: SDK

#505 Add Stride game engine
  descriptions/Engine.Stride.md
  rules.ini
  tests/types/Engine.Stride.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine
