Repository SteamDatabase/FileDetectionRuleSets, pull requests merged in 2023-06, with the labels that each got.

#315 Add Intel oneTBB SDK
  descriptions/SDK.Intel_oneTBB.md
  rules.ini
  tests/types/SDK.Intel_oneTBB.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#316 Add GZDoom
  descriptions/Engine.GZDoom.md
  rules.ini
  tests/types/Engine.GZDoom.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#212 Add TenProtect
  descriptions/AntiCheat.TenProtect.md
  rules.ini
  tests/types/AntiCheat.TenProtect.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Anti-Cheat
