Repository SteamDatabase/FileDetectionRuleSets, pull requests merged in 2024-05, with the labels that each got.

#779 update Yarn Spinner
  descriptions/SDK.Yarn_Spinner.md
  rules.ini
  tests/types/SDK.Yarn_Spinner.txt
Labels: Type: SDK

#777 update PhysX rule
  rules.ini
  tests/types/SDK.NVIDIA_PhysX.txt
Labels: Type: SDK

#762 Add Netmarble Launcher
  descriptions/Launcher.Netmarble.md
  rules.ini
  tests/types/Launcher.Netmarble.txt
Labels: Type: Launcher

#771 add Buddha
  descriptions/Engine.Buddha.md
  rules.ini
  tests/types/Engine.Buddha.txt
Labels: Type: Engine

#538 Add AnyBrain AntiCheat
  descriptions/AntiCheat.AnyBrain.md
  rules.ini
  tests/types/AntiCheat.AnyBrain.txt
  tests/types/_NonMatchingTests.txt
Labels: Applies to low amount of apps, Type: Anti-Cheat

#783 Add ODIN SDK
  descriptions/SDK.ODIN.md
  rules.ini
  tests/types/SDK.ODIN.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#790 Improve GoldSource engine detection by searching for vgui.dll
  rules.ini
  tests/types/Engine.GoldSource.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#773 update CryEngine
  rules.ini
  tests/types/Engine.CryEngine.txt
Labels: Type: Engine, Applies to over 100 apps

#791 add 3D GameStudio
  descriptions/Engine.3D_GameStudio.md
  rules.ini
  tests/types/Engine.3D_GameStudio.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#801 add IW Engine
  descriptions/Engine.IW_Engine.md
  rules.ini
  tests/types/Engine.IW_Engine.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine
