Repository SteamDatabase/FileDetectionRuleSets, pull requests merged in 2024-09, with the labels that each got.

#825 Update curl
  rules.ini
  tests/GenerateTestStrings.php
  tests/types/SDK.cURL.txt
Labels: Type: SDK, Applies to over 100 apps

#837 Add Divinity Engine
  descriptions/Engine.Divinity_Engine.md
  rules.ini
  tests/types/Engine.Divinity_Engine.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine, Applies to low amount of apps

#849 Add Argon
  descriptions/Engine.Argon.md
  rules.ini
  tests/types/Engine.Argon.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#810 Add CTG or Geo-Mod
  descriptions/Engine.CTG_OR_Geo-Mod.md
  rules.ini
  tests/types/Engine.CTG_OR_Geo-Mod.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#806 Add IRISZOOM
  descriptions/Engine.IRISZOOM.md
  rules.ini
  tests/types/Engine.IRISZOOM.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#735 Add NeoX Engine
  descriptions/Engine.NeoX.md
  rules.ini
  tests/types/Engine.NeoX.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine, Applies to low amount of apps
