Repository SteamDatabase/FileDetectionRuleSets, pull requests merged in 2024-03, with the labels that each got.

#716 Add a solid rule for GDevelop game engine
  rules.ini
  tests/types/Engine.GDevelop.txt
Labels: Type: Engine

#687 Add Eclipse Engine
  descriptions/Engine.Eclipse_Engine.md
  rules.ini
  tests/types/Engine.Eclipse_Engine.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#719 Add Paradox Launcher
  descriptions/Launcher.Paradox_Launcher.md
  rules.ini
  tests/types/Launcher.Paradox_Launcher.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Launcher

#686 Update Serious Engine
  rules.ini
  tests/types/Engine.Serious_Engine.txt
Labels: Type: Engine

#688 Update Unigine
  rules.ini
  tests/types/Engine.Unigine.txt
Labels: Type: Engine

#729 Improve Godot matching
  tests/FileDetector.php
  tests/Test.php
  tests/filelists/Engine.Godot.TestLinuxNoExt.txt
Labels: Type: Engine

#734 Update Engine.Torque.md
  descriptions/Engine.Torque.md
Labels: Type: Engine

#555 Awesomium
  descriptions/SDK.Awesomium.md
  rules.ini
  tests/types/SDK.Awesomium.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#740 Regroup every idTech version
  descriptions/Engine.idTech.md
  descriptions/Engine.idTech0.md
  descriptions/Engine.idTech1.md
  descriptions/Engine.idTech2.md
  descriptions/Engine.idTech2_5.md
  descriptions/Engine.idTech3.md
  descriptions/Engine.idTech4.md
  descriptions/Engine.idTech5.md
  descriptions/Engine.idTech6.md
  descriptions/Engine.idTech7.md
  rules.ini
  tests/FileDetector.php
  tests/filelists/Engine.idTech.0.txt
  tests/filelists/Engine.idTech.1.txt
  tests/types/Engine.idTech.txt
  tests/types/Engine.idTech2.txt
  tests/types/Engine.idTech2_5.txt
  tests/types/Engine.idTech3.txt
  tests/types/Engine.idTech4.txt
  tests/types/Engine.idTech5.txt
  tests/types/Engine.idTech6.txt
  tests/types/Engine.idTech7.txt
Labels: Type: Engine

#747 Fix typo in Engine.XNA.md
  descriptions/Engine.XNA.md
Labels: Type: Engine
