Repository SteamDatabase/FileDetectionRuleSets, pull requests merged in 2024-01, with the labels that each got.

#377 Update Glyph description
  descriptions/Launcher.Glyph.md
Labels: Type: Launcher

#441 add Razer CChromaEditor
  descriptions/SDK.Razer_CChromaEditor.md
  rules.ini
  tests/types/SDK.Razer_CChromaEditor.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#512 add NvCloth
  descriptions/SDK.NvCloth.md
  rules.ini
  tests/types/SDK.NvCloth.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#372 Update RealVirtuality
  rules.ini
  tests/types/Engine.RealVirtuality.txt
  tests/types/SDK.Python.txt
Labels: Type: Engine, Type: SDK

#513 add iCue
  descriptions/SDK.iCue.md
  rules.ini
  tests/types/SDK.iCue.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#453 FluidSynth
  descriptions/SDK.FluidSynth.md
  rules.ini
  tests/types/SDK.FluidSynth.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#334 PyGame
  descriptions/Engine.PyGame.md
  rules.ini
  tests/types/Engine.PyGame.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#571 add Expat
  descriptions/SDK.Expat.md
  rules.ini
  tests/types/SDK.Expat.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#487 Add Smile Game Builder
  descriptions/Engine.SmileGameBuilder.md
  rules.ini
  tests/types/Engine.SmileGameBuilder.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#483 Update Punkbuster
  rules.ini
  tests/types/AntiCheat.PunkBuster.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Anti-Cheat

#515 Add LithTech
  descriptions/Engine.LithTech.md
  rules.ini
  tests/types/Engine.LithTech.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#395 Add detection for Light.vn game engine
  descriptions/Engine.Light.vn.md
  rules.ini
  tests/types/Engine.Light.vn.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#577 add NVIDIA HairWorks
  descriptions/SDK.NVIDIA_HairWorks.md
  rules.ini
  tests/types/SDK.NVIDIA_HairWorks.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#578 add NVIDIA Highlights
  descriptions/SDK.NVIDIA_Highlights.md
  rules.ini
  tests/types/SDK.NVIDIA_Highlights.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#576 add NVIDIA TXAA
  descriptions/SDK.NVIDIA_TXAA.md
  rules.ini
  tests/types/SDK.NVIDIA_TXAA.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#580 Add Mod.io
  descriptions/SDK.Modio.md
  rules.ini
  tests/types/SDK.Modio.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#516 Update SFML
  rules.ini
  tests/types/SDK.SFML.txt
Labels: Type: SDK

#501 Squall
  descriptions/SDK.Squall.md
  rules.ini
  tests/types/SDK.Squall.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#517 Update GameMaker
  rules.ini
  tests/types/Engine.GameMaker.txt
Labels: Type: Engine, Type: SDK

#452 Add Silk Engine
  descriptions/Engine.Silk.md
  rules.ini
  tests/types/Engine.Silk.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#495 Add HackShield
  descriptions/AntiCheat.HackShield.md
  rules.ini
  tests/types/AntiCheat.HackShield.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Anti-Cheat

#550 add NVIDIA Texture Tools
  descriptions/SDK.NVIDIA_Texture_Tools.md
  rules.ini
  tests/types/SDK.NVIDIA_Texture_Tools.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#374 add Blitz3D
  descriptions/Engine.Blitz3D.md
  rules.ini
  tests/types/Engine.Blitz3D.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#407 Add Gaijin Launcher
  descriptions/Launcher.Gaijin.md
  rules.ini
  tests/types/Launcher.Gaijin.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Launcher

#421 Update Telltale tool
  rules.ini
  tests/types/Engine.TelltaleTool.txt
Labels: Type: Engine

#510 Update Azure Playfab Party
  rules.ini
  tests/types/SDK.Azure_Playfab_Party.txt
Labels: Type: SDK

#524 Add Fbn Engine
  descriptions/Engine.FBN.md
  rules.ini
  tests/types/Engine.FBN.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#437 Add Gideros Engine
  descriptions/Engine.Gideros.md
  rules.ini
  tests/types/Engine.Gideros.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#410 Add S2 Engine HD
  descriptions/Engine.S2_Engine_HD.md
  rules.ini
  tests/types/Engine.S2_Engine_HD.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#520 Add Rpg Developer Bakin
  descriptions/Engine.RPG_Developer_Bakin.md
  rules.ini
  tests/types/Engine.RPG_Developer_Bakin.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#333 Add Panda3D Engine
  descriptions/Engine.Panda3D.md
  rules.ini
  tests/types/Engine.Panda3D.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#500 Add Rayne
  descriptions/Engine.Rayne.md
  rules.ini
  tests/types/Engine.Rayne.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#332 Xors3D
  descriptions/Engine.Xors3D.md
  rules.ini
  tests/types/Engine.Xors3D.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#531 Update SDL
  rules.ini
  tests/types/SDK.SDL.txt
Labels: Type: SDK

#545 Update SDL
  rules.ini
  tests/types/SDK.SDL.txt
Labels: Type: SDK

#482 Update ChromeEngine
  rules.ini
  tests/types/Engine.ChromeEngine.txt
Labels: Type: Engine

#355 Add Stencyl Engine
  KNOWN_UNDETECTIONS.md
  descriptions/Engine.Stencyl.md
  rules.ini
  tests/types/Engine.Stencyl.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#351 Add Bk engine
  descriptions/Engine.BKEngine.md
  rules.ini
  tests/types/Engine.BKEngine.txt
Labels: Type: Engine

#309 Add Serious Engine
  descriptions/Engine.Serious_Engine.md
  rules.ini
  tests/types/Engine.Serious_Engine.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#507 Update Azure Playfab Party
  rules.ini
  tests/types/SDK.Azure_Playfab_Party.txt
Labels: Type: SDK

#590 Update NVIDIA Reflex
  rules.ini
  tests/types/SDK.NVIDIA_Reflex.txt
Labels: Type: SDK

#593 Split DLSS with/without FrameGen
  descriptions/SDK.NVIDIA_DLSS_FrameGen.md
  rules.ini
  tests/types/SDK.NVIDIA_DLSS.txt
  tests/types/SDK.NVIDIA_DLSS_FrameGen.txt
  tests/types/SDK.NVIDIA_Reflex.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#591 add NVIDIA Real-Time Denoisers
  descriptions/SDK.NVIDIA_Real-Time_Denoisers.md
  rules.ini
  tests/types/SDK.NVIDIA_Real-Time_Denoisers.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#589 add ShiVa3D
  descriptions/Engine.ShiVa3D.md
  rules.ini
  tests/types/Engine.ShiVa3D.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#551 add Autodesk FBX
  descriptions/SDK.Autodesk_FBX.md
  rules.ini
  tests/types/SDK.Autodesk_FBX.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#529 Update MyGames
  rules.ini
  tests/types/Launcher.MyGames.txt
  tests/types/SDK.NVIDIA_Real-Time_Denoisers.txt
Labels: Type: Launcher

#359 Add Alpha Engine
  descriptions/Engine.Alpha_Engine.md
  rules.ini
  tests/types/Engine.Alpha_Engine.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#596 add NVIDIA FleX
  descriptions/SDK.NVIDIA_FleX.md
  rules.ini
  tests/types/SDK.NVIDIA_FleX.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#370 Add Essence Engine
  descriptions/Engine.Essence_Engine.md
  rules.ini
  tests/types/Engine.Essence_Engine.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#240 Add Babylon.JS
  descriptions/Engine.BabylonJS.md
  rules.ini
  tests/types/Engine.BabylonJS.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: Engine

#268 Add Coherent Gameface
  descriptions/SDK.Coherent_Gameface.md
  rules.ini
  tests/types/SDK.Coherent_Gameface.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#601 Update Coherent Gameface
  descriptions/SDK.Coherent_Gameface.md
  descriptions/SDK.Coherent_Gameface_OR_Prysm.md
  rules.ini
  tests/types/SDK.Coherent_Gameface.txt
  tests/types/SDK.Coherent_Gameface_OR_Prysm.txt
Labels: Type: SDK

#426 Add Allegro
  descriptions/SDK.Allegro.md
  rules.ini
  tests/types/SDK.Allegro.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#603 Update AMD GPU Services
  rules.ini
  tests/types/SDK.AMD_GPU_Services.txt
Labels: Type: SDK

#273 Add Sentry
  descriptions/SDK.Sentry.md
  rules.ini
  tests/types/SDK.Sentry.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK

#549 Add Protobuf
  descriptions/SDK.Protocol_Buffers.md
  rules.ini
  tests/types/SDK.Protocol_Buffers.txt
  tests/types/_NonMatchingTests.txt
Labels: Type: SDK
