Repository SteamDatabase/FileDetectionRuleSets, pull requests merged in 2025-07, with the labels that each got.

#882 Add new variant of Black Cipher anti-cheat.
  rules.ini
  tests/types/AntiCheat.BlackCipher.txt
Labels: Type: Anti-Cheat

#761 Add Nexon Launcher
  descriptions/Launcher.Nexon.md
  rules.ini
  tests/types/Launcher.Nexon.txt
Labels: Type: Launcher

#885 Non optional extension for java
  rules.ini
  tests/types/SDK.JVM.txt
Labels: Type: SDK, Applies to over 100 apps

#886 dosbox.exe
  rules.ini
  tests/types/Emulator.DOSBOX.txt
Labels: Applies to over 100 apps
